{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'menu.html' %}
    <title><Базовый шаблон></title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <h4>Приветствуем вас в нашем фирменном онлайн магазине!</h4>
    <script src="{% static 'js/style.js' %}" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
