{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% include 'menu.html' %}
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
</head>
{% block content %}
<table>
<tr>
<th>Регион продаж</th><th>Бренд</th><th>Название</th><th>Цена</th><th>Удален</th>
</tr>
{% for object in object_list %}
<tr>
<td>{{ object.site.name }}</td><td>{{ object.brand }}</td><td>{{ object.title }}</td><td>{{ object.price }}</td><td>{{ object.deleted }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}